
<div class='container'>

	<div class='row'>

	<div class='well text-center'>
		<img src="resource/images/home.png" class="img-responsive center-block" alt="Responsive image">
	</div>

</div>

<div class='row'>
	<h3> Agenda </h3>
	<ul  class="list-group">
		<li class="list-group-item"> Basic Introduction </li>
		<li class="list-group-item"> How things work </li>
		<li class="list-group-item"> Kick Start Project </li>
		<li class="list-group-item"> What comming next </li>
		<li class="list-group-item"> Query </li>
	<ul>
</div>

</div>